################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs/stepmedia-demo/FileContentIndex
Src/.vs/
